// Colors, Icons and Custom variables go here

//fonts (to replace when UX gives us the styleguide)

//colors (to replace when UX gives us the styleguide)

//Breakpoints
$bp-small: 420px;
$bp-medium: 720px;
$bp-large: 1100px;

//Icons

// z-index
